# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
venv/
ENV/
build_venv/

# PyInstaller
*.spec
*.so
*.dylib
*.dll
test_cr5_kinematics

# 编译器/IDE
.idea/
*.swp
*.swo

# 项目特定：日志与临时文件
logs/
*.log
OrbbecSDK.log.*

# 数据文件 (忽略采集的原始数据和标定过程数据)
data/runs/*
data/calib/*
!data/calib/calib_20260812_230221
!data/samples/
!data/runs/0
data/template_group/*
!data/template_group/.gitkeep
data/*.db
*.db
*.backup
models/*
!models/wissight.pt

*.cache/

deps/
tmp/
# 模型文件 (可选：如果模型很大不建议进 Git，可以保持忽略)
# models/*.pt
# models/*.onnx